.post-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  margin: 15px;
  border: 1px solid black;
  padding: 10px;
}

.post-date {
  text-decoration: underline;
}

.post-text {
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 10px;
}

.post-delete-button {

}

button {
  outline: none;
  text-align: center;
  width: 100px;
  font-size: 15px;
  padding: 5px;
  cursor: pointer;
  color: white;
  border: none;
  background-color: red;
}
